@import 'prism-theme-vars/base.css';
@import 'codemirror-theme-vars/base.css';
@import 'prism-theme-vars/to-codemirror.css';

:root {
  --prism-font-family: var(--slidev-code-font-family);
}

html:not(.dark) {
  --prism-foreground: #121212;
  --prism-background: #ffffff;
  --prism-comment: #4D5C4D;
  --prism-string: #86463C;
  --prism-literal: #215E58;
  --prism-number: #235A8B;
  --prism-keyword: #1A6545;
  --prism-function: #545D27;
  --prism-boolean: #1A6545;
  --prism-constant: #834921;
  --prism-deleted: #894348;
  --prism-class: #1B6069;
  --prism-builtin: #884444;
  --prism-property: #735230;
  --prism-namespace: #864159;
  --prism-punctuation: #565652;
  --prism-decorator: #7D4A4A;
  --prism-regex: #824930;
  --prism-json-property: #435C60;
}

html.dark {
  --prism-foreground: #d4cfbf;
  --prism-background: #121212;
  --prism-comment: #93A593;
  --prism-string: #E99B8B;
  --prism-literal: #4BAF9B;
  --prism-keyword: #79B99D;
  --prism-boolean: #2FB67A;
  --prism-number: #84ABCD;
  --prism-variable: #c2b36e;
  --prism-function: #a1b567;
  --prism-deleted: #C99295;
  --prism-class: #54b1bf;
  --prism-builtin: #ffa202;
  --prism-property: #dd8e6e;
  --prism-namespace: #db889a;
  --prism-punctuation: #A1A1A1;
  --prism-decorator: #C19595;
  --prism-regex: #CD9179;
  --prism-json-property: #84A4AE;
  --prism-line-number: #A1A1A1;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
}

pre[class*='language-'] {
  @apply p-2;
}

:not(pre) > code {
  font-size: 0.9em;
  background: var(--prism-background);
  @apply font-light py-0.5 rounded;
}


:not(pre) > code:before,
:not(pre) > code:after {
  content: '`';
  opacity: 0.50;
}

:not(pre) > code:before {
  margin-right: -0.08em;
}
