:root {
  --slidev-theme-primary: #ffa202;
}
:root:not(.dark) {
  --slidev-theme-primary: #961720;
}

.slidev-layout h1 {
  font-size: 2.5rem;
  line-height: 120%;
  color: var(--slidev-theme-primary);
}

.slidev-layout {
  padding: 3.5rem 4.5rem;
  font-size: 1.4rem;
  line-height: 170%;
}

.slidev-layout p {
  line-height: 170%;
}

.slidev-layout li {
  line-height: 220%;
}